# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Addresses
cmdmessages.md
cmdmessages.MD
/contracts
/artifacts
/broadcast
/cache
/node_modules
/out
/lib
/out
/test

