$mobile-breakpoint-gigantic: 1900px;
$mobile-breakpoint-very-big: 1600px;
$mobile-breakpoint-big: 1320px;
$mobile-breakpoint-medium: 900px;
$mobile-breakpoint-small: 660px;
$mobile-breakpoint-very-small: 450px;

$is-header-sticky: "false";

$z-index-particles: -1;
$z-index-chain-dropdown: 10;
$z-index-sticky-header: 20;
$z-index-link-dropdown: 20;
$z-index-cookie-form: 30;
$z-index-text-tooltip: 40;
$z-index-background: 50;
$z-index-menu-button: 50;
$z-index-nav-mobile: 60;
$z-index-modal: 70;