@use "../../../styles/mixins";
@use "../../../styles/variables";

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@if variables.$is-header-sticky == "true" {
		margin-top: calc(0px - (var(--header-height) + var(--top-margin)));
	} @else {
		margin-top: calc(0px - var(--top-margin));
	}

	margin-bottom: calc(0px - var(--bottom-margin));
}

.top_container {
	width: 100%;
}

.section_container {
	--scroll-margin: var(--section-gap-big);

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	> div {
		@include mixins.side_padding;

		width: 100%;
		padding-top: var(--section-gap-big);
		padding-bottom: var(--section-gap-big);
	}

	> div:nth-of-type(even) {
		background-color: rgba(16, 16, 16, 0.7);
	}

	> div:nth-of-type(odd) {
		background-color: rgba(16, 16, 16, 0.4);
	}

	> hr {
		box-shadow: var(--box-shadow-small);
		border-bottom: 10px solid var(--color-1);
	}
}